@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family:'Raleway', sans-serif;
  text-align: center;
}

h1{
  font-weight: 300;
  font-size: 2.3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after,
section::after,
footer::after{
  content: '';
  display: block;
  clear:both;
}


.section1{
  width: 95%;
  margin: 0 auto;
}

.title{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom:1.5em;
}

.title span{
  font-weight: 300;
  display: block;
  font-size: 0.7em;
}


.button {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: 1em 2.5em;
}

@media (min-width: 55rem) {
  .title{
    font-size: 2.5rem;
  }
  h1{
  font-weight: 300;
  font-size: 2.3rem;
}
}

@media (max-width: 30rem){
  .title{
    font-size: 1.5rem;
  }
  .button{
    font-size: 1rem;
    border-width: 1px;
    padding: 0.5em 1em;
  }
   .home-1{
     padding: 1em;
  }
  h1{
  font-weight: 300;
  font-size: 1rem;
}
}
/* header*/

.button-accent{
  color: #800000;
  border-color: #800000;
}

.button-accent:hover,
.button-accent:focus {
  background: #800000;
  color: #FFF;
}

header{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  z-index: 950;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1.1em;
  margin-top: 1.6em;
}

nav a{
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .85rem;
  padding: .5em;
  color: #000;
}

nav a:hover,
nav a:focus {
  color: #555;
}

@media (min-width: 40rem) {
  .logo{
    float: left;
  }
  nav {
    float: right;
  }
}

/* Background first */

.home-1 {
  background-image: url(../img/home.jpg);
  background-size: cover;
  background-position: center;
  padding: 10em;
}

@media (min-width: 60rem) {
  .home-1 {
    height: 100vh;
    padding-top: 35vh;
  }
}


/* SECTION 2*/
.section2 {
 background-color: #232323;
 padding: 5em;
 width: 100% auto;
 outline: 2px solid #00ff6c;
 outline-offset: -2.5em;
 color: #FFF;
 position: relative;
}

.section2 h1{
  margin-top:-0.1em;
  color: #00ff6c;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: .45em;
  background: #232323;
  padding: 0 0.25em;
}


@media (min-width: 19rem) {

  .section2 h1{
    font-size: 2rem;
    top: .7em;
    padding:0 .5em;
  }
}

@media (min-width: 60rem) {

  .section2 {
   width: 45%;
   position: relative;
   top: -11em;
   box-shadow: 0 0 3em 0 rgba(0,0,0,.40);
  }

  .home-2{
    background-image: url(../img/background2.jpg);
    background-size: cover;
    background-size: center;
    padding: 7em;
    height: 80vh;
  }

  .section2 h1{
    font-size: 1.9rem;
    top: .8em;
    padding:0 .5em;
  }
}

/* section 3 */

.home-3{
  background-image: url(../img/123.png);
  background-size: center;
    background-size: cover;
    padding: 6em 0;
}

.section3 h1{
  font-size: 1.9rem;
  font-weight: 700;
  margin: 0 0 .5em;

}
.section3 h1 span{
  font-weight: 500;
  display: block;
  font-size: 0.7em;
}

.section3 h2 {
  font-size: 1.7rem;
  margin-bottom: 2em;
  font-weight: 500;
}

.button-contact{
  color: #800000;
  border-color: #800000;
}

.button-contact:hover,
.button-contact:focus {
  background: #800000;
  color: #FFF;
}

/*footer*/
.unstyled-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer{
  background: #232323;
  color: #fff;
  text-align: center;
  padding: 3em 0;
}

/* col-3 system */



  .col-1{
    width: 50%;
    float:left;
    margin-left: 2em;
}


@media (min-width: 40rem) {
  [class^=col-]{
    float: left;
    padding: 0 2em;
  }

  [class^=col-]:first-child{
    padding-left:0;
  }

  [class^=col-]:last-child{
    padding-right:0;
  }

  .col-3{
    width: 45%;
    margin-left: 10em;
    text-align: left;
    margin-top: 0.5em;
  }

  .col-1{
    width: 25%;
  }
}

.click{
  color: #FFF;
  border-color: #000;
}

.click:hover,
.click:focus {
  background: #800000;
  color: #FFF;
}
